<template>
  <div id="app">
    <div class="container">
      <b-loading :active.sync="isLoading"></b-loading>
      <div class="columns">
        <div class="column is-one-third">
          <article class="box">
            <div class="content has-text-centered">
              <h3>PMS DB CONVERTER</h3>
              <p>Log in for db access rights</p>
            </div>
            <form
              v-on:submit.prevent="authenticate"
              v-if="!signedIn"
            >
              <b-field label="Email">
                <b-input
                  v-model="email"
                  placeholder="Email"
                  type="email"
                ></b-input>
              </b-field>
              <b-field label="Password">
                <b-input
                  v-model="password"
                  placeholder="Password"
                  type="password"
                ></b-input>
              </b-field>

              <b-field v-if="authError">
                <p class="has-text-danger has-text-centered">{{authError}}</p>
              </b-field>

              <b-field>
                <button
                  class="button is-fullwidth is-primary"
                  type="submit"
                >Login</button>
              </b-field>
            </form>
            <p v-if="signedIn">Welcome back, {{userSignedIn}}</p>
            <b-field v-if="signedIn">
              <button
                class="button is-fullwidth is-danger"
                @click="signOut"
              >Logout</button>
            </b-field>
          </article>
        </div>

        <div
          class="column is-two-thirds"
          v-if="signedIn"
        >
          <h1 class="title is-1">Database Migration</h1>
          <h2 class="subtitle is-2">WARNING: ONLY CLICK ONCE</h2>
          <form v-on:submit.prevent="migratedb">
            <b-field>
              <button
                class="button is-fullwidth is-primary"
                type="submit"
              >Migrate Database</button>
            </b-field>
          </form>
        </div>
      </div>
      <section class="section">
        <p>{{playerData}}</p>
      </section>

    </div>
  </div>
</template>

<script>
import {
  refPlayers,
  refBans,
  refWarnings,
  refAccounts,
  refUsers,
  refQualifications,
  auth
} from "./firebase";

export default {
  name: "app",
  created() {
    auth.onAuthStateChanged(user => {
      if (user) {
        this.signedIn = true;
        this.userSignedIn = user.email;
      } else {
        this.signedIn = false;
        this.userSignedIn = "";
      }
    });
  },
  data() {
    return {
      email: "",
      password: "",
      authError: "",
      userSignedIn: "",
      signedIn: false,
      isLoading: false,
      playerData: [],
      userData: []
    };
  },
  methods: {
    authenticate() {
      console.dir(">> Authenticating");
      auth
        .signInWithEmailAndPassword(this.email, this.password)
        .catch(error => {
          this.authError = "Incorrect email or password";
        });
    },
    signOut() {
      auth.signOut();
    },
    migratedb() {
      this.isLoading = true;
      refPlayers.once("value").then(snapshot => {
        this.playerData = snapshot.val();
      });

      //Now migrate account data
      refUsers.once("value").then(snapshot => {
        this.userData = snapshot.val();
      });
    }
  },
  watch: {
    playerData() {
      var bans = [];
      var warnings = [];
      var players = {};

      for (var uuidRef in this.playerData) {
        var uuid = uuidRef.replace(/-/g, "");
        console.dir(uuid);
        var player = this.playerData[uuidRef];
        players[uuid] = {
          lastUpdated: player.LastUpdated,
          username: player.Username
        };
        //Import bans
        for (var banref in player.Bans) {
          var ban = player.Bans[banref];
          var banType = "";

          if(ban.ExpiresOn === ""){
            banType = "PERMANENT"
          }else{
            banType = "TEMPORARY"
          }

          bans.push({
            banType: banType,
            issuedTo: uuid,
            issuedBy: ban.IssuedBy.replace(/-/g, ""),
            issuedOn: ban.IssuedOn,
            expiresOn: ban.ExpiresOn,
            reason: ban.Reason,
            createdBy: ban.CreatedBy,
            createdOn: ban.CreatedOn,
            editedBy: ban.EditedBy,
            editedOn: ban.EditedOn
          });
        }

        //Import warnings
          for (var warningref in player.Warnings) {
            var warning = player.Warnings[warningref];
            warnings.push({
              issuedTo: uuid,
              issuedBy: warning.IssuedBy.replace(/-/g, ""),
              issuedOn: warning.IssuedOn,
              reason: warning.Reason,
              createdBy: warning.CreatedBy,
              createdOn: warning.CreatedOn,
              editedBy: warning.EditedBy,
              editedOn: warning.EditedOn
            });
          }
      }

      console.dir(">> NEW PLAYERS");
      console.dir(players);

      console.dir(">> NEW BANS");
      console.dir(bans);

      console.dir(">> NEW WARNINGS");
      console.dir(warnings);

      console.dir("Updating Database...");
      refPlayers.remove(error => {
        if (error) {
          console.dir(error);
        } else {
          //Migrate players first
          for (var player in players) {
            refPlayers.child(player).set(players[player]);
          }

          //Now migrate ban records
          for (var ban in bans) {
            var newBanRef = refBans.push();
            newBanRef.set(bans[ban]);
          }

          //Now migrate warnings
          for (var warning in warnings) {
            var newWarningRef = refWarnings.push();
            newWarningRef.set(warnings[warning]);
          }

          this.isLoading = false;
        }
      });
    },
    userData(){
      for(var userAccount in this.userData){
        var userAccData = this.userData[userAccount];
        refAccounts.child(userAccount).set({
          uuid: userAccData.replace(/-/g, ""),
          permissionLevel: 0
        });
      }

      refUsers.remove();
    }
  }
};
</script>
